*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    min-height: 90vh;
    min-width: 100%;
    background-image: url(/static/pics/COVID-19.jpg);
    background-size: cover;
    background-attachment: fixed;
}


/* intro-input section */


#intro-input{
    min-height: 100px;
    width: 100%;
    background-color: rgba(0,0,0,.9);
    display: flex;
    align-items: center;
    justify-content: center;
}
input:focus + label{
    color: yellow;
    border-bottom: 1px solid yellow;
}
.input-container{
    height: 100%;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.fo{
    width: 80%;
    height: 50px;
    position: relative;
    display: flex; 
}
.fo input{
    font-size: 15px;
    background-color: rgba(0,0,0,0);
    width: 100%;
    height: 100%;
    color: white;
    padding-top: 30px;
    border: none;
    outline: 0;
}
form label{
    color: white; 
    position: absolute;
    left: 0%; 
    top: -10px;
    width: 100%;
    height: 140%; 
    pointer-events: none;
    border-bottom: 1px solid white;
}
.state-button{
    color: yellow;
    background-color: rgb(23, 23, 23);
    border-radius: 10px;
    transition: .3s ease;
}
.state-button:hover{
    box-shadow: 0 0 15px yellow;
}



/* state-display section */



#state-display{
    background-color: rgba(0,0,0,.4);
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
}
.state-data-container{
    background-color: rgba(23,23,23,.9);
    height: auto;
    width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 25px;
}
.tile .state-data-category{
    height: auto;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 30px black;
    padding: 40px 0;
    padding-top:70px ;
    display: grid;
    grid-template-columns: 170px 230px;
    grid-template-rows: 50px 400px 400px;
    grid-gap: 50px;
    justify-content:space-evenly;
    justify-items: center;   
    align-content: space-evenly; 
    align-items: center;
}

.tile .state-data{
    color: yellow;
    text-align: center;
    grid-column: 1/3;
    height: 70px;
    width: 800px;
    background-color: rgb(23, 23, 23);
    border-radius: 10px;
    box-shadow: 0 0 20px black;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media all and (max-width: 376px){
    .tile .state-data-category{
        width: 20rem;
        display: flex;
        flex-direction: column;
    }
    .state-data-container{
        width: 21.5rem;
        
    }
    .tile .state-data {
        text-align: center;
        width: 19rem;
    }
    .state-data h3{
        text-align: center;
        
    }
}
@media all and (orientation : landscape) and (max-width:820px){
    .tile .state-data-category{
        width: 33rem;
        display: flex;
        flex-direction: column;
    }
    .state-data-container{
        width: 35rem;
    }
    .tile .state-data {
        text-align: center;
        width: 31rem;
    }
    .state-data h3{
        text-align: center;
    }
}


/* general */



.tile .state-general{
    grid-row: 2/4;
    height: 800px;
    width: 350px;
    background-color: rgb(23, 23, 23);
    border-radius: 10px;
    box-shadow: 0 0 20px black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tile .state-general ul li{
    width: 250px;
    height: 45px;
    background-color: yellow;
    box-shadow: 0 0 20px black;
    color: black;
    border-radius: 10px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px;
}
.state-general{
    text-align: center;
}
.tile .state-vaccines{
    height: 350px;
    width: 400px;
    background-color: rgb(23, 23, 23);
    border-radius: 10px;
    box-shadow: 0 0 20px black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tile .state-beds{
    height: 350px;
    width: 400px;
    background-color: rgb(23, 23, 23);
    border-radius: 10px;
    box-shadow: 0 0 20px black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px;
}
@media all and (max-width: 376px){
    .tile .state-general{
        height: auto;
        width: 300px;
    }
    .tile .state-general ul li{
        height: 70px;
        width: 270px;
    }
}
@media all and (orientation : landscape) and (max-width:820px){
    .tile .state-general{
        height: auto;
        width: 31rem;
        padding: 20px 0;
    }
    .tile .state-general ul li{
        height: 70px;
        width: 29rem;
    }
}



/* vaccines */



.tile .state-vaccines ul li{
    width: 300px;
    height: 35px;
    background-color: yellow;
    box-shadow: 0 0 20px black;
    color: black;
    border-radius: 10px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px;
}
@media all and (max-width: 376px){
    .tile .state-vaccines ul li{
        width: 270px;
        height: 70px;
    }
    .tile .state-vaccines{
        height: auto;
        width: 300px;
    }
}
@media all and (orientation : landscape) and (max-width:820px){
    .tile .state-vaccines ul li{
        width: 29rem;
        height: 70px;
    }
    .tile .state-vaccines{
        height: auto;
        width: 31rem;
        padding: 20px 0;
    }
}



/* beds */



.tile .state-beds ul li{
    width: 300px;
    height: 35px;
    background-color: yellow;
    box-shadow: 0 0 20px black;
    color: black;
    border-radius: 10px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px;
}


@media all and (max-width: 376px){
    .tile .state-beds ul li{
        height: 70px;
        width:270px;
        text-align: center;
    }
    .tile .state-beds{
        height: auto;
        width: 300px;
    }
    .tile .state-beds h1{
        text-align: center;
    }
    .state-data-container > div{
        width: 23.5rem;
    }
}
@media all and (orientation : landscape) and (max-width:820px){
    .tile .state-beds ul li{
        height: 70px;
        width:29rem;
    }
    .tile .state-beds{
        height: auto;
        width: 31rem;
        padding: 20px 0;
    }
    .tile .state-beds h1{
        text-align: centerf;
    }
    .state-data-container > div{
        width: 23.5rem;
        padding: 10px;
    }
}