/* chart-input section */
body{
    overflow-y: hidden;
}

#charts-input{
    
    
    width: 100%;
    background-color: rgba(0,0,0,.9);
    display: flex;
    align-items: center;
    justify-content: center;
}
.form1{
    
    display: flex;
}
.form1 div{
    position: relative;
    margin: 0 1.3rem;
}
.form1 input{
    margin: 0 1.3rem;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    padding-top: .6rem;
}
input:focus + label{
    
    color: yellow;
    border-bottom: 1px solid yellow;
}
.form1 label{
    
    border-bottom: 1px solid white;
    
    position: absolute;
    left: 0%; 
    top: -10px;
    width: 100%;
    height: 100%; 
    pointer-events: none;
}
.stateChartButton{
    background-color: rgba(23,23,23);
    color: yellow;
    height: 50px;
    width: 2.5rem;
    border-radius: 10px;
    transition: .3s ease;
}
.stateChartButton:hover{
    box-shadow: 0 0 10px yellow;
}


@media all and (max-width: 501px){
   
  
    .form1{
        flex-direction: column;
        height: 26.5rem;
    }
    .form1 div{
        margin: .6rem;
    }
    .stateChartButton{
        align-self: center;
        margin-top: 2rem;
        background-color: rgba(23,23,23);
        color: yellow;
        height: 30px;
        width: 9.3rem;
        border-radius: .6rem;
    }
    .form1 input{
        width: 20rem;
        padding-top: 2rem;
    }
    .form1 label{
        width: 22.5rem;
        height: 140%;
    }
}
@media all and (orientation : landscape) and (max-width:820px){
    .form1{
        flex-direction: column;
        height: 26.5rem;
        width: 18.2rem;
    }
    .form1 div{
        margin: 1rem;
    }
    .stateChartButton{
        
        position: relative;
        left: -100px;
        top: -200px;
        width: 2.5rem;
        height: 250px;
    }
    .form1 input{
        width: 20rem;
        padding-top: 15px;
    }
    .form1 label{
        width: 22.6rem;
        height: 140%;
    }
}


/* chart-intro section */



.chartBoc-container{
    display: none;
}
#charts-intro{
    
    width: 100%;
    background-color: rgba(0,0,0,.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#charts-intro .chartBox-container{
    height: 400px;
    width: 40rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
    box-shadow: 0 0 20px black;
    border-radius: 10px;
}
canvas{
    height: 600px;
    width: 38rem;
}
.save-button{
    margin: 2px;
    background-color: rgba(23,23,23);
    color: yellow;
    height: 20px;
    width: 150px;
    border-radius: 5px;
    box-shadow: 0 0 10px black;
    transition: .6s ease;
}
.save-button:hover{
    transform: scaleX(1.3);
    box-shadow: 0 0 5px yellow;
    box-shadow: 0 0 20px yellow;
    box-shadow: 0 0 30px yellow;
}
.delete-button{
    margin: 2rem;
    background-color: rgba(23,23,23);
    color: yellow;
    height: 20px;
    width: 150px;
    border-radius: 5px;
    box-shadow: 0 0 10px black;
    transition: .6s ease;
}
.delete-button:hover{
    transform: scaleX(1.3);
    box-shadow: 0 0 5px yellow;
    box-shadow: 0 0 20px yellow;
    box-shadow: 0 0 30px yellow;
}
.compare{
    margin: 1.3rem;
}
.compare p{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    width: 26.5rem;
    height: 70px;
    border-radius: 10px;
    background-color: rgba(23,23,23);
    color: yellow;
    box-shadow: 0 0 15px black;
}


@media all and (max-width:520px){
    #charts-intro .chartBox-container{
        width: 23.3rem;
    }
    .compare p{
        width: 23.3rem;
        font-size: 17px;
    }
    canvas{
        height: 600px;
        width: 340px;
    }
}
@media all and (orientation : landscape) and (max-width:820px){
    canvas{
        height: 600px;
        width: 20rem
    }
}