#register{
    padding-top: 70px;
    height: auto;
    width: 100%;
    background-color: rgb(0,0,0,.4);
    display: flex;
    align-items: center;
    justify-content: center;
}
.register-container{
    height: 900px;
    width: 700px;
    background-color: rgb(23,23,23,.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
}
.register-container form{
     
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}
.register input{
    margin: 10px 0;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    padding-top: 30px;
    text-align: center;
}
input:focus + label{
    color: yellow;
    border-bottom: 1px solid yellow;
}
form div{
    margin: 10px;
    position: relative;
    z-index: 0;
}
form button{
    margin-top: 40px;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    color: yellow;
    background-color: rgb(23,23,23,.9);
    box-shadow: 0 0 10px black;
    transition: .6s ease;
}
form button:hover{
    transform: translateY(-10px);
    letter-spacing: 5px;
}
.register-container label{
    color: white;
    position: absolute;
    z-index: 10;
    border-bottom: 1px solid white;
    width: 30px;
    position: absolute;
    left: 0%; 
    top: -10px;
    width: 100%;
    height: 100%; 
    pointer-events: none;
}
.n:nth-child(8) label{
    border-bottom: 1px solid  transparent;
}
form #state{
    width: 350px;
    height: 20px;
    margin: 30px;
    outline: 0;
    border: 1px solid yellow;
    background-color: rgb(23,23,23,.9);
    color: white;
}


@media all and (max-width: 500px){
    .register-container{
        width: 400px;
    }
    .register input{
        width: 325px;
    }
    form #state{
        width: 300px;
    }
    .n:nth-child(6) label{
        width: 100px;
        left: 20px;
        border-bottom: 1px solid  transparent;
    }
}