{% extends 'base.html' %}

{% block head %}

    <link rel="stylesheet" href="/static/css/advanced-search.css">

{% endblock %}

{% block content %}

<section class="intro-input" id="intro-input">
    <div class="input-container">
        <form action="" class="fo">    
            <input type="text" name="state" placeholder="Enter State ...." autocomplete="off" required>
            <label for="state" class="label-name"></label>   
            <button class="state-button">ENTER</button>     
        </form>
    </div>  
</section>
<section class="state-display" id="state-display">
    <div class="state-data-container">
        <div class="state-data-category">
            <div class="state-data">
                <h3>STATE</h3>
            </div>
            <div class="state-general"><ul></ul></div>
            <div class="state-vaccines"><ul></ul></div>
            <div class="state-beds"><ul></ul></div>
        </div>
    </div>
</section>
<section class="county-display"></section>


<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="/static/js/advanced-search.js"></script>
{% endblock %}