<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Poiret+One&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/27db799439.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    {% block head %}{% endblock %}
    <title>Capstone</title>
</head>
<body>
    <section class="spinner">
        <div class="loader">
            <span style="--v:1"></span>
            <span style="--v:2"></span>
            <span style="--v:3"></span>
            <span style="--v:4"></span>
            <span style="--v:5"></span>
            <span style="--v:6"></span>
            <span style="--v:7"></span>
            <span style="--v:8"></span>
            <span style="--v:9"></span>
            <span style="--v:10"></span>
           
        </div>
    </section>
    
    <header id="heady">
        <a href="" class="logo">LOGO</a>
        <a href="#" class="toggle-button">
            <div class="mar"></div>
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
        <nav>           
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/profile">Profile</a></li>
                {% if not g.user%}
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                {% else  %}
                    <li><a href="/logout">Logout</a></li>
                    <li><a href="/search/advanced">Advanced Search</a></li>
                    <li><a href="/charts">Charts</a></li>
                {% endif %}
            </ul>
        </nav>  
    </header>
    
    <script>
        let spinner = document.querySelector('.spinner');

        window.addEventListener('load', removeLoader)
        function removeLoader(){
            spinner.style.display = 'none';
        }
    </script>
    {% block content %}
    {% endblock %}
</body>
</html>