{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="/static/css/register.css">

{% endblock %}

{% block content %}

<section class="register" id="register">
    <div class="register-container">
        <form action="" autocomplete="off" method="POST">
            {{form.hidden_tag()}}
            {% for field in form if field.widget.input_type != 'hidden' %}
                <div class="n">
                    {{field(placeholder=field.label.text)}}
                    {{field.label}}
                </div>
            {% endfor %}
            <button>ENTER</button>
        </form>
    </div>
</section>

{% endblock %}