{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="/static/css/profile.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
<script src=""></script>
{% endblock %}

{% block content %}
<section id="sidebar">
    <div class="sidebar">      
        <a href="" class="sidebar-btn"></a>
        <ul class="sidebar-ul">
            <li ><a href="/profile/edit">Edit Profile</a></li>
            <li ><a href="/charts">Charts</a></li>
            <li><a href="/profile/delete">Delete Profile</a></li>
            <li><a href="#saved-charts">View Charts</a></li>
            <li><a href="">Additional Space</a></li>
        </ul>  
    </div>
</section>
<section class="header-pic" id="header-pic">
    <div class="header-pic-container">
        <img src="https://i.natgeofe.com/k/cd784533-e5ef-439a-8167-2ba61b0a9a4b/wave_16x9.jpg?w=1200" alt="">   
    </div>
    <div class="pic-container">
        <p>{{user.first_name}} {{user.last_name}}</p>
        <div class="profile-pic">
            <img src="{{user.image_url}}" alt="">
        </div>
    </div>  
</section>
<section class="info" id="info">
    <div class="info-container">
        <p class="username">{{user.username}}</p>
        <p class="location">{{user.state}}</p>
        <p class="email">{{user.email}}</p>
        <p class="time">{{user.time_stamp}}</p>
        <p class="any">ANY ADDITIONAL INFO</p>
    </div>
</section>
<section class="saved-charts" id="saved-charts">
    <div class="savedCharts-container">
        <div>
            <button class="view-saved-charts">VIEW CHARTS</button>
        </div>
        <div class="chartBox">
            <canvas id="myChart"></canvas>
        </div>
    </div>
</section>
<script src="https://unpkg.com/axios/dist/axios.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="/static/js/chart-library.js"></script>
<script src="/static/js/profile.js"></script>
{% endblock %}